body {
  margin: 0;
  height: 100vh;
  color: rgb(128, 98, 0);
  background-image: linear-gradient(#ffbe79, #ffbe79 10%, #75bed6 40%, #75bed6);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  font-family: sans-serif;
}

p{
  text-align: center;
}
